@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);

@font-face {
    font-family: 'Montserrat';
    weight: 500, 700;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
}

@font-face {
    font-family: 'Fraunces';
    weight: 700;
    src: url('https://fonts.googleapis.com/css?family=Fraunces:700');
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    Font-size: 14px;
    background-color: hsl(30, 38%, 92%);
}
.a {
    position: absolute;
    top: 10%;
    left: 40%;
}

.button {
    background-color: hsl(228, 12%, 48%);
    border-radius: 5px;
    padding: 10px;
    color: hsl(145, 100%, 20%);
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    width: 200px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    top: 85%;
    left: 10%;
    cursor: auto;

}

.cart {
    background-color: hsl(228, 12%, 48%);
    border: none;
    height: 25px;
} 

.p1 {
    font-weight: bold;
}

.logo {
    position: absolute;
    left: 10%;
}

.background {
    background-color: hsl(30, 38%, 92%);    
}

.card {
    width: 330px;
    height: 435.4px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 40px 40px;
    background: hsl(0, 41%, 40%);
    border-radius: 30px;
    transition: all 0.8s;
    flex: wrap;
    display: flex;
    flex-wrap: wrap; 
    position: absolute;
    top: 25%;
    left: 47.2%; 
  }

  img {
    max-width: 330px;
    position: absolute;
    top: 25%;
    left: 30%;
    border-top-left-radius: 30px;
}
