@import url(https://fonts.google.com/specimen/Montserrat);
@import url(https://fonts.google.com/specimen/Fraunces);
@font-face {
    font-family: 'Montserrat';
    weight: 500, 700;
    src: url('https://fonts.googleapis.com/css?family=Montserrat:500,700');
}
@font-face {
    font-family: 'Fraunces';
    weight: 700;
    src: url('https://fonts.googleapis.com/css?family=Fraunces:700');
}
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

body {
    Font-size: 14px;
}

img {
    max-width: 330px;
    position: absolute;
    top: 25%;
    left: 20%;
    border-radius: 30px;
}

.a {
    position: absolute;
    top: 10%;
    left: 40%;
}

.card {
    width: 400px;
    height: 400px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    padding: 20px 40px 40px;
    background: rgb(95, 94, 101);
    border-radius: 6px;
    transition: all 0.8s;
    flex: wrap;
    display: flex;
    flex-wrap: wrap;  
  }